<div class="section section-muted section-1 p-0 pb-5" >
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div style="height:30px"></div>
          <p class="text"><b>Albo Gestori delle crisi d'impresa</b></p>
          <p class="text">Benvenuti nella procedura di presentazione della domanda per l'iscrizione all'albo</p>
          <p class="text">Prima di iniziare la procedura,ti invitiamo a prendere visione della documenttazione</p>
          <p class="text">Sei collegato come utente XYZ.Se questo e il tuo account ti preghiamo di uscire dal servizio selezionando.Esci e accedere con le proprie credenziali.</p>
          <p class="text">Per qualsiasi richiesta di chiarimento e possibile scrivere via mail all'Ufficio Il DAG daguff@giustizia.it</p>
          <hr style="height:10px;border-width:4px">
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="text"><b> Le mie domande</b></p>
          <app-complaint-list></app-complaint-list>
          <div class="text-center mt-0" style="padding-right: 24px">
            <button class="btn btn-outline-primary text-right" (click)="creaDomanda()" style="background-color: #007bff;color:white">
              Nuova Domanda</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
