<div class="section section-muted section-1 p-0 pb-5" >
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-12">
<!--          <h4 class="font-weight-bold mt-5">{{'DENUNCIA.MIE_DENUNCE' | translate}}</h4>-->
<!--          <p class="text">{{'DENUNCIA.DESCRIZIONE' | translate}}</p>-->
          <div style="height:30px"></div>
          <p class="text"><b> Selezionando la voce di menu «Le mie domande» </b><br>il Soggetto Esterno accede alla seguente schermata, nella quale può eseguire
          la procedura di registrazione dell’iscrizione selezionando il pulsante «Nuova domanda</p>
          <hr style="height:10px;border-width:4px">
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="text"><b> Le mie domande</b></p>
          <app-complaint-list></app-complaint-list>
          <div class="text-center mt-0" style="padding-right: 24px">
            <button class="btn btn-outline-primary text-right" (click)="creaDenuncia()" style="background-color: #007bff;color:white">
              Nuova Domanda</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
