
<div class="row justify-content-center">
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('cognome')" [id]="'cognome'"
                label="DOMANDA.COGNOME" required></agid-input>
  </div>
  <div class="col-md-4 col-12 py-1 pb-3">
  <agid-input [control]="form.get('nome')" [id]="'nome'"
              label="DOMANDA.NOME" required></agid-input>
</div>
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('codiceFiscale')" [id]="'codiceFiscale'"
                label="DOMANDA.CODICE_FISCALE" required></agid-input>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('comuneNascita')" [id]="'comuneNascita'"
                label="DOMANDA.COMUNE_NASCITA" required></agid-input>
  </div>
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('provinciaNascita')" [id]="'provinciaNascita'"
                label="DOMANDA.PROVINCIA_NASCITA" required></agid-input>
  </div>
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('statoNascita')" [id]="'statoNascita'"
                label="DOMANDA.STATO_NASCITA" required></agid-input>
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-datepicker [control]="form.get('dataNascita')" [id]="'dataNascita'"
                     label="DOMANDA.DATA_NASCITA" max="today" required></agid-datepicker>

  </div>
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('indirizzoResidenza')" [id]="'indirizzoResidenza'"
                label="DOMANDA.INDIRIZZO_RESIDENZA" required></agid-input>
  </div>
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('civicoResidenza')" [id]="'civicoResidenza'"
                label="DOMANDA.CIVICO_RESIDENZA" required></agid-input>
  </div>


</div>

<div class="row justify-content-center">
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('comuneResidenza')" [id]="'comuneResidenza'"
                label="DOMANDA.COMUNE_RESIDENZA" required></agid-input>
  </div>

  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('capResidenza')" [id]="'capResidenza'"
                label="DOMANDA.CAP_RESIDENZA" required></agid-input>
  </div>
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('provinciaResidenza')" [id]="'provinciaResidenza'"
                label="DOMANDA.PROVINCIA_RESIDENZA" required></agid-input>
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('indirizzoDomicilio')" [id]="'indirizzoDomicilio'"
                label="DOMANDA.INDIRIZZO_DOMICILIO" required></agid-input>
  </div>
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('civicoDomicilio')" [id]="'civicoDomicilio'"
                label="DOMANDA.CIVICO_DOMICILIO" required></agid-input>
  </div>
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('comuneDomicilio')" [id]="'comuneDomicilio'"
                label="DOMANDA.COMUNE_DOMICILIO" required></agid-input>
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('capDomicilio')" [id]="'capDomicilio'"
                label="DOMANDA.CAP_DOMICILIO" required></agid-input>
  </div>
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('provinciaDomicilio')" [id]="'provinciaDomicilio'"
                label="DOMANDA.PROVINCIA_DOMICILIO" required></agid-input>
  </div>
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('telefonoFisso')" [id]="'telefonoFisso'"
                label="DOMANDA.TELEFONO_FISSO" required></agid-input>
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('cellulare')" [id]="'cellulare'"
                label="DOMANDA.CELLULARE" required></agid-input>
  </div>
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('pec')" [id]="'pec'"
                label="DOMANDA.PEC" required></agid-input>
  </div>
  <div class="col-md-4 col-12 py-1 pb-3">
    <agid-input [control]="form.get('email')" [id]="'email'"
                label="DOMANDA.EMAIL" required></agid-input>
  </div>

</div>



