<div class="row instance-detail"  >
  <div class="col-sm-12" >
    <div   class="tab-content p-4 bg-white" >
      <div class="row" ><h4><b>Domanda di Iscrizione</b></h4><br></div>
      <div class="tab-pane text-break pt-4 fade show active" >
        Iscritto all’albo:<br>

        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" mdbInput>
          <label class="custom-control-label" for="defaultUnchecked">&nbsp;&nbsp;  degli avvocati</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="defaultCheckedid" name="defaultExampleRadios"  mdbInput>
          <label class="custom-control-label" for="defaultChecked"> &nbsp;&nbsp; dei dottori commercialisti e degli esperti contabili</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios"  mdbInput>
          <label class="custom-control-label" for="defaultChecked">  &nbsp;&nbsp;dei consulenti del lavoro</label>
        </div>


        <div class="row" style="margin-top:20px">
          <div class="col-md-4 col-12 py-1 pb-3" >
            <label>Citta</label>
            <div class=" form-group" style="position: relative;width: 100%;box-shadow:none!important;border:0">
              <style>.autocomplete-container  .active{box-shadow:none!important;}</style>
              <ng-autocomplete   style="position: relative;width: 100%;.ng-autocomplete div{box-shadow:none;}"
                                 [data]="datas"
                                 [searchKeyword]="keyword"
                                 [itemTemplate]="itemTemplate"
                                 [notFoundTemplate]="notFoundTemplate"
              >
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.citta"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
          <div class="col-md-2 col-12 py-1 pb-3" style="text-align:center" >
            <label>del</label>
          </div>
          <div class="col-md-4 col-12 py-1 pb-3" style="margin-top: 31px;">
            <agid-datepicker [control]="data" [id]="'domandaForm'"
                             label="Data" max="today" required></agid-datepicker>
          </div>
        </div>

        <app-documenti-list></app-documenti-list>
        <div  class="d-flex flex-row-reverse">
          <button [disabled]=""  (click)="continueDomanda()"
                  class="btn btn-primary btn-lg">Continua
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
