<div class="section section-muted section-1 p-0 pb-5" >
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div style="height:30px"></div>
          <h3>Diniego</h3>
          <hr style="height:10px;border-width:4px">
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="text"><b> Note:</b></p>
          <div>
            <agid-textarea></agid-textarea>
          </div>
          <div style="padding-right: 24px">
            <div class="row justify-content-left">
              
                  <button class="btn btn-primary btn-sm"  (click)="conferma()" style="background-color:#7FFFD4;" type="button">Conferma</button>
                  <button class="btn btn-primary btn-sm"  style="margin-left:20px;" (click)="anulla()" type="button">Anulla</button>
              
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
