<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <section>
        <div class="row clearfix justify-content-between">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="it-brand-wrapper"><a>
              <img class="mr-2" style="max-width: 80px" alt="{{'HOME.MINISTERO_INTERNO' | translate}}"
                   src="./assets/images/logo_ministero_interno.png">
              <div class="it-brand-text">
                <h2>{{'COMMON.MINISTERO_INTERNO' | translate}}</h2>
                <div class="pt-3">{{'COMMON.POLIZIA_DI_STATO' | translate}}</div>
              </div>
            </a></div>
          </div>

          <div class="footer-border col-lg-3 col-md-5 col-sm-6">
            <div class="it-brand-wrapper"><a>
              <div class="it-brand-text">
                <h2 class="text-uppercase">{{'FOOTER.CONTATTI' | translate}}</h2>
                <div class="pt-3">
                  <div>Via del Mascherino 12</div>
                  <div>00193 ROMA (RM)</div>
                  <div>dcaffarigeneralips@interno.it</div>
                  <div>+39 06 465 73647</div>
                </div>
              </div>
            </a></div>
          </div>

          <div class="footer-border col-lg-3 col-md-3 col-sm-6">
            <div class="it-brand-wrapper"><a>
              <div class="it-brand-text">
                <h2 class="text-uppercase">{{'FOOTER.LINK_UTILI' | translate}}</h2>
                <div class="pt-3" style="text-decoration: underline">
                  <div class="mb-1"><a href="#">{{'FOOTER.DICHIARAZIONE_ACCESS' | translate}}</a></div>
                  <div class="mb-1"><a href="#">{{'FOOTER.AMMINISTRAZIONE_TRASPARENTE' | translate}}</a></div>
                  <div class="mb-1"><a [href]="linkPolizia">{{'COMMON.POLIZIA_DI_STATO' | translate}}</a></div>
                  <div class="mb-1"><a [href]="linkMinistero">{{'COMMON.MINISTERO_INTERNO' | translate}}</a></div>
                </div>
              </div>
            </a></div>
          </div>
        </div>
      </section>
    </div>

    <!-- hidden -->
    <section class="container it-footer-small-prints d-none">
      <div class="row it-footer-small-prints clearfix">
        <div class="col-sm-12">
          <ul class="it-footer-small-prints-list list-inline pl-0 d-md-flex flex-column flex-md-row">
            <li class="list-inline-item"><a href="#" title="Note Legali">Media policy</a></li>
            <li class="list-inline-item"><a href="#" title="Note Legali">Note legali</a></li>
            <li class="list-inline-item"><a href="#" title="Privacy-Cookies">Privacy policy</a></li>
            <li class="list-inline-item"><a href="#" title="Mappa del sito">Mappa del sito</a></li>
          </ul>
        </div>
      </div>
    </section>

  </div>
</footer>
