

<div class="file-upload">
  <input type="file" class="file-input"
         [accept]="requiredFileType"
         (change)="onFileSelected($event)" #fileUpload>

  <p > {{fileName || "No file uploaded yet."}}</p>

  <button  color="primary" class="btn btn-table btn-primary text-nowrap"
          (click)="fileUpload.click()" >Sfoglia

  </button>

</div>

<!--<div class="progress">-->
  <button style="color:red;width:30px;font-size:53px;margin-top: -54px;margin-right: 25px;"
          type="button" class="close" aria-label="Close" (click)="cancelUpload()">
    <span aria-hidden="true">&times;</span>
  </button>

  <button class="progress-bar" mode="determinate"
                    [value]="uploadProgress" *ngIf="uploadProgress">

  </button>

<!--  <mat-icon class="cancel-upload" (click)="cancelUpload()"-->
<!--            *ngIf="uploadProgress">delete_forever</mat-icon>-->

<!--</div>-->
