<div class="row">
  <form class="mt-5">
    <div class="row">
      <h3>Dashboard</h3>
      <hr />
    </div>
    <div class="form">
      <div class="input-inline mb-2">
        <strong class="col-4 mr-4">Ricerca</strong>
        <input type="text" class="col-8" id="ricerca">
      </div>
    </div>
    <div class="form">
      <div class="input-inline mb-2">
        <strong class="col-4 mr-4">Cognome</strong>
        <input type="text" class="col-8" id="cognome">
      </div>
    </div>
    <div class="form">
      <div class="input-inline mb-2">
        <strong class="col-4 mr-4">Sezione</strong>
        <input type="text" class="col-8" id="sezione">
      </div>
    </div>
  </form>
</div>
<div class="row">
  <app-domande-pdg-da-firmare-table class="col-12"></app-domande-pdg-da-firmare-table>
</div>