<div class="row justify-content-center">
  <div class="col-md-12 col-12 py-1 pb-3">
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="optionIscrizione1" name="optionIscrizione" mdbInput>
      <label class="custom-control-label" for="optionIscrizione1">&nbsp;&nbsp;&nbsp;Nella sezione ordinaria</label>
    </div>
  </div>
  <div class="col-md-12 col-12 py-1 pb-3">
    <div class="custom-control custom-radio" style="width: 954px;!important;">
      <input type="radio" class="custom-control-input"  value="first" id="optionIscrizione2" name="optionIscrizione" mdbInput>
      <label class="custom-control-label" for="optionIscrizione2" style="margin-top: -28px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nella sezione componenti degli organismi
        di composizione della crisi d’impresa – OCRI, di cui all’articolo 2, comma 1, lettera u),<br> del Codice della crisi d’impresa e dell’insolvenza</label>
    </div>
  </div>
  <div class="col-md-12 col-12 py-1 pb-3">(N.B.: L’iscrizione della sezione ordinaria comporta l’automatica iscrizione
    nella sez. componenti OCRI)
  </div>
  <div class="col-md-12 col-12 py-1 pb-3" style="">In quanto</div>
  <div class="col-md-12 col-12 py-1 pb-3">
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="optionIscrizioneSecondSection1" name="optionIscrizioneSecondSection" mdbInput>
      <label class="custom-control-label" for="optionIscrizioneSecondSection1" >&nbsp;&nbsp;iscritto agli albi degli avvocati, dei
        dottori commercialisti, degli esperti contabili o dei consulenti del-->
        lavoro</label>
    </div>
  </div>
  <div class="col-md-12 col-12 py-1 pb-3">
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="optionIscrizioneSecondSection2" name="optionIscrizioneSecondSection" mdbInput>
      <label class="custom-control-label" for="optionIscrizioneSecondSection2">&nbsp;&nbsp;legale rappresentante della società tra
        professionisti</label>
    </div>
  </div>
  <div class="col-md-12 col-12 py-1 pb-3">
     <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="optionIscrizioneSecondSection3" name="optionIscrizioneSecondSection" mdbInput>
      <label class="custom-control-label" for="optionIscrizioneSecondSection3">&nbsp;&nbsp;rappresentante dello studio
        professionale</label>
    </div>
  </div>
    <div class="col-md-12 col-12 py-1 pb-3">
      <div class="custom-control custom-radio" style="width: 954px;!important;">
        <input type="radio" class="custom-control-input" id="optionIscrizioneSecondSection4" name="optionIscrizioneSecondSection" mdbInput>
        <label class="custom-control-label" for="optionIscrizioneSecondSection4" style="width: 99%;margin-top: -28px;">&nbsp;&nbsp;&nbsp;&nbsp; ha svolto funzioni di amministrazione,
          direzione e controllo in società di capitali o società cooperative dando prova di adeguate capacità imprenditoriali.</label>
      </div>
    </div>

