<div class="section">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-12" style="height:300px">
          <p class="text"><b>Elenco dei Gestori della crisi d'impresa</b> </p>
          <p class="text">Benvenuti nella Area Riservata del portale Gestori Crisi di impresa </p>
          <p class="text">Ti invitiamo a prendere visione del D.M XXXXXX</p>
          <p class="text">I servizi del portale permettono ai professionisti interesaati di registrare la propria candidatura compilando un modulo on line.</p>
          <p class="text">Nella sezione "Istruzione e riportata la guida alla presentazione della domanda per l'iscrizione."</p>

        </div>
        <div class="row" style="height:100px"></div>
        </div>
      </div>
    </div>
  </div>

