<div class="section">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-12" style="height:300px">
         <p>
           A seguito dell’Autenticazione nel PST e alla selezione del link all’applicativo Albo gestori della Crisi di impresa,
           il Soggetto Esterno accede all’applicativo dedicato agli iscritti del portale Albo Gestori Crisi di impresa, c
           he si presenta come segue:

         </p>
          </div>
        <div class="row" style="height:100px"></div>
        </div>
      </div>
    </div>
  </div>

