<!-- Versione desktop - Tabella -->
<ng-container *ngIf="domanda?.length">
  <div class="agid-table table-responsive">
    <table class="table table-separate">
      <thead class="table-sm table-th-no-border lightgrey-bg-c1 neutral-1-color-a7">
      <tr class="text-uppercase">
        <th scope="col">Data Presentazione</th>
        <th scope="col">Stato Avanzamento</th>
        <th scope="col">Note</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dom of domanda" class="table-td-no-border bg-white shadow-sm text-truncate">
        <td>{{dom?.idDomanda || '-' }}</td>
        <td>{{dom?.nome || '-' }}</td>
        <td>{{dom?.cognome || '-' }}</td>
        <td class="p-0">
          <button class="btn btn-table btn-primary text-nowrap">Approvata</button>
        </td>
        <td class="p-0">
          <button class="btn btn-table btn-primary text-nowrap" (click)="modify(dom.idDomanda)">Modificare</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<div class="col-sm-12 text-center" *ngIf="domanda?.length <= 0">
  <h6>{{ 'COMMON.NESSUN_DATO' | translate }}</h6>
</div>


